"" plugins
set NERDTree
set ideajoin
set commentary

"" Common settings
set clipboard+=unnamed
set clipboard+=ideaput
set scrolloff=5
set incsearch
set number relativenumber

"" set leader
noremap <SPACE> <Nop>
let mapleader = " "

"" refactoring
nnoremap <leader>rn :action RenameElement <CR>

"" turn on action id tracking
nnoremap <leader>ai :action VimFindActionIdAction <CR>

"" toggle view modes
nnoremap <leader>fs :action ToggleFullScreen <CR>
nnoremap <leader>pm :action TogglePresentationMode <CR>

"" open terminal in the current file's directory
nnoremap <leader>t :action Terminal.OpenInTerminal<CR>

"" useful intellij shortcuts
nnoremap <leader>ca :action ShowIntentionActions <CR>
nnoremap <leader>ct :action CloseActiveTab <CR>

"" navigating definitions
nnoremap <leader>gd :action GotoDeclaration <CR>
nnoremap <leader>gi :action GotoImplementation <CR>

"" make 'comment line' be the same for a single line in normal mode and multiple lines in visual
nmap <leader>cl gcc
vmap <leader>cl gc

"" tabs and windows
nnoremap <leader>s :action SplitVertically <CR>
nnoremap <leader>m :action MoveEditorToOppositeTabGroup <CR>
nnoremap <leader>wl :action PreviousTab <CR>
nnoremap <leader>wh :action NextTab <CR>
nnoremap <leader>l :action NextSplitter <CR>
nnoremap <leader>h :action PrevSplitter <CR>

"" resizing the splits
nnoremap <c-.> :action StretchSplitToRight <CR>
nnoremap <c-,> :action StretchSplitToLeft <CR>

"" change font size
nnoremap <leader>tb :action EditorIncreaseFontSize <CR>
nnoremap <leader>ts :action EditorDecreaseFontSize <CR>

"" NERDtree
nnoremap <leader>ft :NERDTreeToggle <CR>

